dist/*
node_modules/*
reports/
.idea/
/.nyc_output/
/coverage/
/src/translations/
.vscode/
.DS_Store

dist.zip
app.zip
current/*
.project
current.zip
npm-debug.log
/newrelic.js
/newrelic_agent.log
/src/conf/local.json


